.excercise {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.excercise img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}
.excercise-name {
  margin-top: 7px;
}
.excercise-info {
  margin: 0 14px;
}
.excercise-info p {
  margin-bottom: 0;
  margin-top: 5px;
}
.btn-cart {
  width: 100%;
  background-color: #ffe0b3;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background-color: orange;
}
