.fitness-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.excercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  margin: 100px 50px;
}
.cart-container {
  background-color: cyan;
}
@media screen and (max-width: 480px) {
  .excercise-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .fitness-container {
    grid-template-columns: 1fr;
  }
}
